.box{
    width: 150px;
    height: 150px;
    font-size: 5rem;
    text-align: center;
    border-radius: 20px;
    line-height: 150px;
}

#box1{
    background-color: gold;
}
#box2{
    background-color: palegreen;
}
#box3{
    background-color: paleturquoise;
}
#box4{
    background-color: palevioletred;
}