body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.flex-container {
    display: flex; 
    justify-content: space-around; 
        /* flex-start, flex-end, center, space-around, space-between, space-evenly */
    align-items: center; 
        /* flex-start, flex-end, center */
    /*flex-direction: column  */
    flex-wrap: wrap;
    /* align-content will align wrapped around items */
    height: 90vh; /* Full viewport height */
    padding: 20px;
    background-color: #fff;
}

/* General box styles */
.box {
    width: 150px;
    height: 150px;
    display: flex; /* Center the number inside the box */
    justify-content: flex-end; /* controls horizontal justify */
    align-items: flex-end; /* controls vertical align */
    font-size: 3rem; /* Large font size for numbers */
    color: white; /* White text for contrast */
    border-radius: 10px; /* Rounded corners */
}

/* Individual background colors for each box */
.box-1 {
    background-color: red; /* Primary color red */
}

.box-2 {
    background-color: blue; /* Primary color blue */
}

.box-3 {
    flex: 1;
    background-color: yellow; /* Primary color yellow */
    color: black; /* Change text color for better contrast on yellow */
    /*align-self: flex-end;*/
}
