
.jumbotron{
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.navbar{
    margin-top: 10px;
    margin-bottom: 30px;
}

button{
    background-color: #E0E0E2;
    margin-left: 10px;
    margin-right: 10px;
}

.container{
    margin-top: 5px;
    margin-bottom: 5px;
}